/* =============Default Configrations============ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* =============Big Container================== */
.container {
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================Grid==================== */
.grid-container {
  background-color: white;
  display: grid;
  width: 600px;
  height: 600px;
  max-height: 100%;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid-container div {
  border: 0.5px solid #eee;
}
