/* =============Default Configrations============ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* =============Big Container================== */
.container {
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ====================Grid==================== */
.grid-container {
  background-color: white;
  display: grid;
  width: 600px;
  height: 600px;
  max-height: 100%;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid-container div {
  border: 0.5px solid #eee;
}

/* ========================Editor Part============ */

.editor .grid-size {
  display: flex;
  flex-flow: column wrap;
}

.editor .grid-size label {
  text-align: center;
  margin-bottom: 1rem;
}
/* ===================Styling used by JS========== */
.trail {
  background-color: black;
}
